<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhc.android.gz_guide">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".GZGuide_APP"
        android:allowBackup="true"
        android:icon="@drawable/gz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SPB9ugsMj5GIUuvfWthbB1YLIqH1M7jo" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SpotDetailActivity" />
        <activity android:name=".activity.AboutHotelActivity" />
        <activity android:name=".activity.AboutTastyActivity" />
        <activity android:name=".activity.AboutTrafficActivity" />
        <activity android:name=".activity.AboutMapActivity" />
        <activity android:name=".activity.AboutSpotActivity" />
        <activity android:name=".activity.AboutStrategyActivity" />
        <activity android:name=".activity.AboutLocalGuiderActivity" />
        <activity android:name=".activity.AboutLocalPartnerActivity" />
        <activity android:name=".activity.HotelDetailActivity" />
        <activity android:name=".activity.TastyDetailActivity" />
        <activity android:name=".activity.StrageryDetailActivity" />
        <activity android:name=".activity.LocalGuideDetailActivity" />
        <activity android:name=".activity.PersonalDetailActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".activity.BMapActivity" />
        <activity android:name=".activity.SearchResultActivity" />
        <activity android:name=".activity.LocateResultActivity" />
        <activity android:name=".activity.UserDiscoverActivity" />
        <activity android:name=".activity.UserFriendActivity" />
        <activity android:name=".activity.UserSettingActivity" />
        <activity android:name=".activity.UserStrageryActivity" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.EditUserInfoActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.GeneralSettingActivity" />
        <activity android:name=".activity.PrivicySettingActivity" />
        <activity android:name=".activity.UserReportActivity" />
        <activity android:name=".activity.SecureSettingActivity" />
        <activity android:name=".activity.AboutAppActivity"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>