<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhc.android.gz_guide">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".GZGuide_APP"
        android:allowBackup="true"
        android:icon="@drawable/gz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SPB9ugsMj5GIUuvfWthbB1YLIqH1M7jo" />
        //key:开发者申请的Key
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SpotDetailActivity" />
        <activity android:name=".activity.AboutHotelActivity" />
        <activity android:name=".activity.AboutEatActivity" />
        <activity android:name=".activity.AboutTrafficActivity" />
        <activity android:name=".activity.AboutMapActivity" />
        <activity android:name=".activity.AboutSpotActivity" />
        <activity android:name=".activity.AboutStrageryActivity" />
        <activity android:name=".activity.AboutLocalGuiderActivity" />
        <activity android:name=".activity.AboutLocalPartnerActivity" />
        <activity android:name=".activity.HotelDetailActivity" />
        <activity android:name=".activity.TastyDetailActivity" />
        <activity android:name=".activity.StrageryDetailActivity" />
        <activity android:name=".activity.LocalGuideDetailActivity" />
        <activity android:name=".activity.PersonalDetailActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".activity.BMapActivity" />
        <activity android:name=".activity.SearchResultActivity" />
        <activity android:name=".activity.LocateResultActivity" />
        <activity android:name=".activity.UserDiscoverActivity" />
        <activity android:name=".activity.UserFriendActivity" />
        <activity android:name=".activity.UserSettingActivity" />
        <activity android:name=".activity.UserStrageryActivity" />
        <activity android:name=".activity.UserInfoActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.EditUserInfoActivity"></activity>
    </application>

</manifest>